<div class="container">
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto">
      <h2 class="font-weight-bold mt-5 mb-5">商品新規登録</h2>
        <%= form_with model: [:admin, @item], url: admin_items_path, local:true do |f| %>
          <%= render 'form_item', f: f %>
          <%= f.submit "新規登録", class: "btn btn-success btn-md my-3 mx-5" %>
        <% end %>
    </div>
  </div>
</div>
