<div class = "container">
  <div class = "row">
    <div class = "col-sm-12 my-5">
      <p class = "text-success"><%= flash[:success] %></p>
      <div class = "mx-auto top-img">
        <div class = "mx-auto text-box">
          <p class = "top-text text-center font-weight-bold pt-5">
            ようこそ、ながのCAKEへ！<br />
            このサイトは、ケーキ販売のECサイトになります！<br />
            会員でない方も商品の閲覧はできますが、<br />
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <h2 class = "font-weight-bold mb-4">新着商品</h2>
      <%= render 'public/items/new_items', items: @items %>
      <p class = "text-right"><%= link_to "全ての商品を見る⇒", items_path , class: "text-dark" %></p>
    </div>
  </div>
</div>