<div class="row">
  <div class="d-flex flex-wrap">
    <% items.each do |item| %>
    <div class="card mb-5", style="width:25%">
      <div class ="item-image">
        <%= link_to item_path(item) do %>
          <p class="img card-img-top"><%= attachment_image_tag item, :image, width: "100%", format: "jpeg", fallback: "no_image.jpg" %></p>
        <% end %>
      </div>
      <div class="card-body">
        <p class="card-title"><%= item.name %></p>
        <% if item.is_active == true %>
          <p class="item-price"><%= ((item.price*1.10).to_i).to_s(:delimited) %>円(税込）</p>
        <% else %>
          <p class="text-danger font-weight-bold">Sold out</p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>